:root {
    --background-color: #fafafa;
    --primary-color: #005dff;
    --accent-color: #fff6bb;
    --font: 'Quicksand';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: var(--font);
    height: 100vh;
}

.wrapper {
    // border: 1px solid red;
    max-width: 1000px;
    padding: 0 15px;
}

.header {
    &__logo {
        color: white;
        text-decoration: none;
    }
}

.background {
    clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card {
    background: white;
    padding: 15px;
    margin: 1em auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.list-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &__bullet {
        width: 30px;
        height: 30px;
        background: lighten(#005dff, 40%);
        border-radius: 50%;
        margin-right: 10px;
    }

    &__text {
        display: inline-block;
        font-weight: normal;
    }
}

.primary {
    color: white;
    text-align: center;
    &__title {
        font-size: 3em;
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.4em;
    }

    &__cta {
        font-size: 1.5em;
        color: darken( #005dff, 40%);
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        background: var(--accent-color);
        display: block;
        padding: 12px 24px;
        letter-spacing: 1px;
        font-weight: bold;
    }
}