:root {
    --light-color: #F6F6F6;
    --primary-color: rgba(255, 57, 35, 0.856);
    --secondary-color: #202D88;
    --accent-color: #DE5A5A;
    --bg-color: #1E1E1E;
    --bg-color-secondary: #272727;
    --font: 'Poppins';
}

@mixin desktop-screen {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin tablet-screen {
    @media screen and (min-width: 768px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: var(--font);
    height: 100vh;
}

.wrapper {
    // border: 1px solid red;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

@import './components/background';
@import './components/card';
@import './components/header';
@import './components/primary';
@import './components/normalize';

.content {
    @include desktop-screen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "primary card";
        height: 80vh;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
