.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        color: var(--accent-color);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6em;
        font-family: Poppins;
        font-weight: 300;

        .logo--strong {
            letter-spacing: -5px;
            font-weight: 800;
        }
    }
}