.primary {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include desktop-screen {
        grid-area: primary;
        text-align: center;
        align-self: center;
    }

    &__title {
        font-size: 1.7em;
        font-weight: 400;
        line-height: .5em;
        margin: 10px;

        @include tablet-screen {
            font-size: 3.5em;
            margin: 20px;
        }

        @include desktop-screen {
            font-size: 5.1em;
            line-height: 1em;
            margin: 10px 0;
        }

        .title-opacity {
            color: rgba(246, 246, 246, 0.05);
            }
    }

    &__text {
        font-size: .8em;
        margin: 30px 0px;
        line-height: 1.3em;
        color: #636363;
        margin-bottom: 60px;
        max-width: 400px;

        @include tablet-screen {
            font-size: 1.1em;
            width: 70%;
            text-align: center;
            max-width: 900px;
        }

        @include desktop-screen {
            font-size: 1.1em;
            width: auto;
            max-width: 1000px;
        }
    }

    &__cta {
        font-size: .8em;
        color: var(--light-color);
        border-radius: 0px 15px 15px 15px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid var(--accent-color);
        display: block;
        padding: 15px 50px;
        letter-spacing: 1px;
        font-weight: bold;
        display: inline-block;

       @include tablet-screen {
           font-size: 1em;
       } 
    }
}