.primary {
    color: white;
    text-align: center;
    
    @include desktop-screen {
        grid-area: primary;
        text-align: left;
        align-self: center;
    }

    &__title {
        font-size: 3em;

        @include desktop-screen {
            font-size: 4em;
            line-height: 1em;
            margin: 10px 0;
        }
    }

    &__text {
        font-size: 1.4em;
        margin: 30px 0px;
        line-height: 1.3em;
    }

    &__cta {
        font-size: 1em;
        color: var(--light-color);
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        background: var(--secondary-color);
        display: block;
        padding: 15px 60px;
        letter-spacing: 1px;
        font-weight: bold;

       @include desktop-screen {
           display: inline-block;
       } 
    }
}